.max-center {

    text-align:center;
}

li {
    list-style-type: none; /* Убираем маркеры */
}
ul li:hover {
    color:red;
    cursor: pointer;
}

.trainInfo{
    display: none;
}

.buyForm{

}
.print{
    display: none;
}