<!DOCTYPE html>
<html lang="en" ng-app>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FAST-TICKET</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">
    <link rel="stylesheet" href="css/myCSS.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">


    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


</head>

<body id="page-top">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" style="color:red" href="#page-top">FAST TICKET</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">Train</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Buy form</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">print info</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="header-content ">
        <div class="header-content-inner center-block">
            <h1>Find your train</h1>
            <hr>

            <!--  <table class="center-block">
                  <tr class="text-center">
                  <td class="center-block"> <input  class="center-block" id="findFrom" type="text"  onkeyup="change()" style="color: black"></td>
                      <td> <input type="text"></td>
                  </tr>
                  <tr>
                      <td><div class="autosuggest" id="stations_from" style="display: none;"></div></td>
                  </tr>
              </table>-->
            <div class="col-xs-4 col-sm-4 col-xs-4 max-center">
                <input type="text" class="form-control" id="findFrom" onkeyup="from()">
                <ul id="from" class="autosuggest all">
                </ul>
            </div>

            <div class="col-xs-4 col-sm-4 col-xs-4 max-center">
                <input type="text" class="form-control" id="findTill" onkeyup="till()">
                <ul id="till" class="autosuggestTill all">
                </ul>
            </div>

            <a href="#about" class="btn btn-primary btn-xl page-scroll" onclick="showtraininfo()">Find Out More</a>
        </div>

    </div>
</header>


<!--section for get information about train-->

<section class="bg-primary trainInfo" id="about">
    <h3 class="text-center">Trains</h3>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">

                <table class="table text-center" style="border: solid">
                    <thead>
                    <tr>
                        <th class="sortable text-center">№ train</th>
                        <th class="text-center">From / To</th>
                        <th class="text-center">Date</th>
                        <th class="text-center">
                            <div class="sortable">Time</div>
                        </th>

                        <th class="text-center">Free places</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="vToolsDataTableRow2">
                        <td><p>105 К</p>

                            <div></div>
                        </td>
                        <td class="directions">
                            {{fromS}}<br>
                            Одесса-Главная

                        </td>
                        <td class="date">
                            <div>Departure <span>28.11.2015</span></span></div>

                            <div>Arrival <span>28.11.2015</span></span></div>
                        </td>
                        <td class="time">21:58<br>06:59</td>
                        <td class="place">

                            <div title="Люкс">
                                <b>P 33</b>
                                <button>Выбрать</button>
                                </br>
                                <b>P 33</b>
                                <button>Выбрать</button>
                            </div>


                        </td>
                    </tr>
                    <tr class="vToolsDataTableRow2">
                        <td><p>105 К</p>

                            <div></div>
                        </td>
                        <td class="directions">
                            Киев-Пассажирский<br>
                            Одесса-Главная

                        </td>
                        <td class="date">
                            <div>Departure <span>28.11.2015</span></span></div>

                            <div>Arrival <span>28.11.2015</span></span></div>
                        </td>
                        <td class="time">21:58<br>06:59</td>
                        <td class="place">

                            <div title="Люкс">
                                <b>P 33</b>
                                <button>Выбрать</button>
                                </br>
                                <b>P 33</b>
                                <button>Выбрать</button>

                            </div>


                        </td>
                    </tr>
                    <tr class="vToolsDataTableRow2">
                        <td><p>105 К</p>

                            <div></div>
                        </td>
                        <td class="directions">
                            Киев-Пассажирский<br>
                            Одесса-Главная

                        </td>
                        <td class="date">
                            <div>Departure <span>28.11.2015</span></span></div>

                            <div>Arrival <span>28.11.2015</span></span></div>
                        </td>
                        <td class="time">21:58<br>06:59</td>
                        <td class="place">

                            <div title="Люкс">
                                <b>P 33</b>
                                <button>Выбрать</button>
                                </br>
                                <b>P 33</b>
                                <button>Выбрать</button>

                            </div>


                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!--END section for get information about train-->
<!--start section buy form-->

<section id="services" class="buyForm " style="background-color: #5bc0de">
    <div class="container ">
        <div class="row">
            <div class="col-lg-12 text-center">

                <table class="table" onchange="alert('work')">
                    <thead>
                    <tr>
                        <th class="text-center">№ <br>train</th>
                        <th class="text-center">place</th>
                        <th class="text-center">name</th>
                        <th class="text-center">last name</th>
                        <th class="text-center">options</th>
                        <th class="text-center">services</th>
                        <th class="text-center">price</th>

                    </tr>
                    </thead>

                    <tbody>
                    <tr class="text-center">
                        <td class="text-center">
                            <select ng-model="train">
                                <option value="1">1</option>
                                <option value="3">3</option>
                                <option value="5">5</option>
                                <option value="9">9</option>
                            </select>
                        </td>
                        <td class="text-center">
                            <select ng-model="place">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="7">7</option>
                                <option value="10">10</option>
                                <option value="13">13</option>
                                <option value="17">17</option>
                                <option value="21">21</option>
                            </select>
                        </td>
                        <td><input type="text" ng-model="name"></td>
                        <td><input type="text" ng-model="lastName"></td>
                        <td>
                            <div>
                                <label for="plan">Full</label>
                                <input id="plan" type="radio" name="content" ng-model="content" value="plan">
                                <br/>

                                <label for="first">Student</label>
                                <input id="first" type="radio" name="content" ng-model="content" value="student">
                                <br/>

                                <p ng-show="content == 'student'">

                                    <input type="text" maxlength="8" size="9" ng-model="studentNumber">
                                    <img src="img/question.png" title="Input number of student ticket">
                                </p>
                                <label for="other">Children</label>
                                <input id="other" type="radio" name="content" ng-model="content" value="children">
                                <p ng-show="content == 'children'">
                                    <input type="text" maxlength="2" size="5" ng-model="childrenAge">
                                    <img src="img/question.png" title="Input age of children"></p>
                            </div>
                        </td>

                        <td>
                            <input type="checkbox">linen<br>
                            <input type="checkbox">tea<br>


                        </td>
                        <td>fsd</td>
                    </tr>
                    </tbody>
                </table>
                <button class="btn-primary">Buy</button>
                <hr class="primary">
            </div>
        </div>
    </div>

</section>
<!--end section buy form-->


<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">

        </div>
    </div>
</section>

<aside class="bg-dark print">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>information for print</h2>
            <!--  <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>-->
        </div>
    </div>
</aside>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">

            </div>
        </div>
    </div>

</section>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/myJS.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>
<script src="js/angular.min.js"></script>


<script>
    var a = 0;
    function showtraininfo() {
        if (tillCheck && fromCheck) {
            if (a == 0) {
                $('.trainInfo').slideDown(3000);
                a++;
                $('.directions').html(fromString + '<br>' + tillString);
            } else {
                $('.trainInfo').slideUp(1);
                $('.trainInfo').slideDown(3000);
                $('.directions').html(fromString + '<br>' + tillString);
            }
        } else {
            alert("Select town from drop list !");
        }
    }

</script>
</body>

</html>
